/* General container styling */
.form-container {
    width: 100%; /* Full width of the viewport */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between columns */
    padding: 40px;
    color: black;
    flex-direction: column; /* Align items in a column */
    text-align: left;
    border: 2px solid #f0f0f0; /* Light gray border */
    border-radius: 8px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width : 1000px
  }
  
  /* Adjusted label styling */
  .form-container label {
    width: 100%; /* Set label width to 100% */
    max-width: 500px; /* Set a maximum width for the label */
    display: block;
    margin-bottom: 20px; /* Increased margin for better spacing */
    font-size: 16px; /* Increased font size for better readability */
  }
  
  /* Adjusted input and select styling */
  .form-container input[type='text'],
  .form-container input[type='number'],
  .form-container select {
    width: calc(100% - 10px); /* Adjusted input width */
    padding: 10px;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 4px;
    font-size: 16px; /* Increased font size for better readability */
    transition: border-color 0.3s ease; /* Smooth border transition */
  }
  
  /* Focus styles */
  .form-container input[type='text']:focus,
  .form-container input[type='number']:focus,
  .form-container select:focus {
    border-color: #007bff; /* Blue border on focus */
  }
  
  /* Optional: Add more specific styles as needed */
  
  /* Style for the last label */
/* .full-width-label {

    grid-column: 1 / -1;
  } */
/* Style for the last label */
/* Style for the last label */
.full-width-label {
    grid-column: 1 / -1; /* Span all columns */

    max-width: 200px; /* Set a maximum width */
    margin: 0 auto; /* Center the label horizontally */
    overflow: hidden; /* Hide any overflow beyond the specified width */
  }
  


  
  
